        <!-- Header -->
        <header class="header">
            <h1 class="logo"><a href="/">#twitter</a></h1>
            <nav>
                <ul class="main-nav">
                   <li> <a href="/posts/add">Create Post +</a> </li>
                   <li> <a href="/posts">Edit any post</a> </li>
                </ul>
            </nav>
        </header>