<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tweetProjects</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="container">
        {{>_navbar}}
    </div>
    <div class="container">
       {{{ body }}}
    </div>
</body>
</html>